<app-header></app-header>
<script src="./assets/js/register.js"></script>
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="./assets/images/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>Welcome to Insurance regstration  portal!</p>
            <input [routerLink] = "['/Login']"type="submit" name="" value="Login"/><br/>
        </div>
        <form  #form="ngForm"  (ngSubmit)= "form.valid && formSubmit(form)" name="form" novalidate>

            <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div  id="home" role="tabpanel">
                    <h3 class="register-heading">Customer Regstration</h3>

                    <div class="row register-form">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="color:red"> {{message}}</label>

                           </div>

                            <div class="form-group">
                            <mat-form-field>
                              <input matInput placeholder="Name " name= "customerName" ngModel pattern="[a-zA-Z]+" required  #firstname="ngModel">
                              <mat-error>
                                <div *ngIf="firstname.errors && (firstname.dirty || form.submitted)">
                                <small *ngIf="firstname?.errors.required"> The name is required </small>
                                <small *ngIf="firstname?.errors.pattern"> Address does not contain special characters and number</small>
                            </div>
                              </mat-error>
                            </mat-form-field>

                            </div>


                         <div class="form-group">
                                    <mat-form-field>
                                      <input matInput [matDatepicker]="picker" placeholder="Date of Birth" ngModel name="dob" required  #date="ngModel" readonly>
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                     <mat-datepicker #picker disabled="false" startView="year" [startAt]="startDate"></mat-datepicker>
                                      <mat-error>
                                        <div *ngIf="date.errors && (date.dirty || form.submitted)">
                                    <small *ngIf="date?.errors.required"> Please select date of birth </small>  </div>
                                      </mat-error>
                                    </mat-form-field>
                              </div>


                            <div class="form-group">
                            <mat-form-field>
                              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"  name="password" ngModel pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required #password="ngModel">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              <mat-error>
                                <div *ngIf="password.errors && (password.dirty || form.submitted)">
                                <small *ngIf="password?.errors.required"> The Password is required </small>
                                <small *ngIf="password?.errors.pattern">Must contain at least one number and one uppercase and lowercase letter,and at least 8 or more characters</small>
                            </div>
                              </mat-error>
                            </mat-form-field>
                            </div>

                            <fieldset ngModelGroup="customerAddress">
                            <div class="form-group">
                                <mat-form-field>
                                  <input matInput placeholder="PinCode" name= "pinCode" pattern= "^[1-9][0-9]{5}$" ngModel required #pincode="ngModel">
                                  <mat-error>
                                    <div *ngIf="pincode.errors && (pincode.dirty || form.submitted)">
                                    <small *ngIf="pincode?.errors.required"> The Pincode is required </small>
                                    <small *ngIf="pincode?.errors.pattern">Pincode should be a number and max 6 digite</small>

                                </div>
                                  </mat-error>
                                </mat-form-field>

                                </div>

                                <div class="form-group">
                                    <mat-form-field>
                                      <input matInput placeholder="Address" name= "address" ngModel pattern="^[^<>@~`%$]*$"   required ngModel #address="ngModel">
                                      <mat-error>
                                        <div *ngIf="address.errors && (address.dirty || form.submitted)">
                                        <small *ngIf="address?.errors.required"> The address is required </small>
                                        <small *ngIf="address?.errors.pattern">Address does not contain special characters</small>

                                    </div>
                                      </mat-error>
                                    </mat-form-field>
                                    </div>

                                <div class="form-group">
                                    <mat-form-field>
                                      <input matInput placeholder="City" name= "city" ngModel pattern="[a-zA-Z ]+" required #city="ngModel">
                                      <mat-error>
                                        <div *ngIf="city.errors && (city.dirty || form.submitted)">
                                        <small *ngIf="city?.errors.required"> The city is required </small>
                                        <small *ngIf="city?.errors.pattern"> City does not contain special characters and number</small>
                                    </div>
                                      </mat-error>
                                    </mat-form-field>
                                    </div>

                                <div class="form-group">
                                    <mat-form-field>
                                      <input matInput placeholder="State" name= "state" ngModel pattern="[a-zA-Z ]+" required #state="ngModel">
                                      <mat-error>
                                        <div *ngIf="state.errors && (state.dirty || form.submitted)">
                                        <small *ngIf="state?.errors.required"> The state is required </small>
                                        <small *ngIf="state?.errors.pattern"> State does not contain special characters and number</small>
                                    </div>
                                      </mat-error>
                                    </mat-form-field>
                                    </div>
                                </fieldset>


                            <div class="form-group">
                            <mat-form-field >
                              <mat-select placeholder="Nationality" name ="nationality" ngModel required #nationality="ngModel">
                                <mat-option value="India">India</mat-option>
                                <mat-option value="Greek">Greek</mat-option>
                                <mat-option value="south">south</mat-option>
                              </mat-select>
                              <mat-error>
                                <div  *ngIf="nationality.errors && (nationality.dirty || form.submitted)">
                                <small *ngIf="nationality?.errors.required"> The nationality is required </small>

                            </div>
                              </mat-error>
                            </mat-form-field>
                            </div>

                        </div>
                        <div class="col-md-6">
                              <div class="form-group">
                                <label > </label>

                            </div>

                            <div class="form-group">
                            <mat-form-field>
                              <input matInput placeholder="Annual Income" name= "annualIncome" ngModel required pattern="(0\.((0[1-9]{1})|([1-9]{1}([0-9]{1})?)))|(([1-9]+[0-9]*)(\.([0-9]{1,2}))?)" #annualIncome="ngModel">
                              <mat-error>
                                <div *ngIf="annualIncome.errors && (annualIncome.dirty || form.submitted)">
                                <small *ngIf="annualIncome?.errors.required"> The annualIncome is required </small>
                                <small *ngIf="annualIncome?.errors.pattern"> The annualIncome should be number and greater then 0 </small>
                            </div>
                              </mat-error>
                            </mat-form-field>
                            </div>

                            <div class="form-group">
                            <mat-form-field>
                              <input matInput placeholder="MobileNo" name= "mobileNo" ngModel required pattern="^[6789]\d{9}$" #mobileNo="ngModel">
                              <mat-error >
                                <div  *ngIf="mobileNo.errors && (mobileNo.dirty || form.submitted)">
                                <small *ngIf="mobileNo?.errors.required"> The mobileNo is required </small>
                                <small *ngIf="mobileNo?.errors.pattern"> not a valid mobileNo </small>
                            </div>
                              </mat-error>
                            </mat-form-field>
                            </div>

                            <div class="form-group">
                            <mat-form-field>
                              <input matInput placeholder="Alternate Number" name= "phone" ngModel  pattern="^[6789]\d{9}$" #phoneNo="ngModel">
                              <mat-error >
                                <div  *ngIf="phoneNo.errors && (phoneNo.dirty || form.submitted)">
                                <small *ngIf="phoneNo?.errors.pattern"> not a valid Alternate number </small>
                            </div>
                              </mat-error>
                            </mat-form-field>
                            </div>

                            <div class="form-group">
                            <mat-form-field>
                              <input matInput placeholder="Email" name= "emailId" ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required  #emailId="ngModel">
                              <mat-error >
                                <div *ngIf="emailId.errors && (emailId.dirty || form.submitted)">
                                <small *ngIf="emailId?.errors.required"> The email is required </small>
                                <small *ngIf="emailId?.errors.pattern"> Not a valid email(ex: abc@gmail.com)</small>
                            </div>
                              </mat-error>
                            </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field>
                                  <input matInput placeholder="Occupation" name= "occupation" ngModel required pattern="[a-zA-Z]+" #occupation="ngModel">
                                  <mat-error>
                                    <div style="color:red"
                                    *ngIf="occupation.errors && (occupation.dirty || form.submitted)">
                                    <small *ngIf="occupation?.errors.required"> The occupation is required </small>
                                    <small *ngIf="occupation?.errors.pattern"> Occupation does not contain special characters and number</small>
                                </div>
                                  </mat-error>
                                </mat-form-field>
                                </div>

                                <div class="form-group">
                                <mat-form-field>
                                  <input matInput placeholder="Pan Number" name= "pan" ngModel required pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$" #pan="ngModel">
                                  <mat-error>
                                    <div *ngIf="pan.errors && (pan.dirty || form.submitted)">
                                    <small *ngIf="pan?.errors.required"> The pan number is required </small>
                                    <small *ngIf="pan?.errors.pattern">Not a valid pan number (ex: CEQPK4956K)</small>
                                </div>
                                  </mat-error>
                                </mat-form-field>
                                </div>


                            <div class="form-group">
                                    <!-- <label>Marital Status:</label>
                                <select class="form-control" name ="maritalStatus" required  ngModel #maritalStatus="ngModel">
                                    <option  selected disabled>Please select your  marital status</option>
                                    <option>Married</option>
                                    <option>Unmarried</option>

                                </select>
                                <div style="color:red"
                                *ngIf="maritalStatus.errors && (maritalStatus.dirty || form.submitted)">
                                <small *ngIf="maritalStatus.errors.required"> The maritalStatus is required </small>
                            </div> -->
                            <mat-form-field >
                              <mat-select placeholder="Marital Status" name ="maritalStatus" ngModel required>
                                <mat-option value="Married">Married</mat-option>
                                <mat-option value="Unmarried">Unmarried</mat-option>
                              </mat-select>
                              <mat-error>

                              </mat-error>
                            </mat-form-field>

                            </div>

                            <div class="form-group">
                                    <!-- <label>Gender:</label>
                                <select class="form-control" name ="gender" ngModel required #gender="ngModel">
                                    <option   selected disabled >Please select your gender</option>
                                    <option >Male</option>
                                    <option >Female</option>

                                </select>

                                <div style="color:red"
                                *ngIf="gender.errors && (gender.dirty || form.submitted)">
                                <small *ngIf="gender.errors.required"> The gender is required </small>
                            </div> -->
                            <mat-form-field >
                              <mat-select placeholder="Gender" name ="gender" ngModel required>
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                              </mat-select>
                            </mat-form-field>
                            </div>


                            <input type="submit" class="btnRegister" value="Register"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </form>
    </div>

</div>
<app-footer></app-footer>
