<app-header></app-header>

<div class="column-layout">
<div class="main-column">
 <h2><a >Vehicle Insurance</a></h2>
 <hr>
 <div class="paradiv">
 <h3>Two Wheeler</h3><br>
 <p>Shopping for Two Wheeler insurance? You've come to the right place! We keeps you and your family covered with great auto insurance that's also a great value.</p>
 <br>
 <h3>Four Wheeler</h3><br>
 <p>Protect your vehicle from Loos, Theft and Damage. insure your car now. 24x7 claims helpline. Personal accident cover.</p>
</div>
</div>
<div class="sidebar-one">
    <h2><a>Home Insurance</a></h2>
  <hr>
  <div class="paradiv">
   <h3>Renters Insurance</h3><br>
   <p>If you rent an apartment, condo, house, etc. you need renters insurance. We cover the building, but it won't cover inside your walls. </p><br>
   <h3>Home Owners Insurance</h3><br>
   <p>Typical we offer coverage for damage caused by fire, lightning strikes, windstroms an disasters are covered in homeowners insurance.</p>
  </div>
</div>
<div class="sidebar-two">
    <h2><a >Life Insurance</a></h2>
    <hr>
    <div class="paradiv">
    <h3> Term Life</h3><br>
    <p>Term insurance premiums are economical with respact to the higer coverage amount  it offers. Secure you family's future take the most important decision of tomorrow.</p><br>
    <h3>Whole Life</h3><br>
    <p>A whole life policy is a type of life insurance that provides guaranteed death benefits during the entire life of the policyholder.</p>

    </div>
</div>
</div>
<app-footer></app-footer>   