<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h1 style="color:red">
                  500 ERROR</h1>
                <div class="error-details">
                  Sorry, something went wrong on our end. We are currently trying to fix the problem.
                </div>
              
                <div class="error-actions">
                    <a  [routerLink]= "['/homePage']" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>  