<app-adminator-login></app-adminator-login>
<form #editForm="ngForm" (ngSubmit)= "editForm.valid && editIsuranceDetails(editForm.value)" name="editForm" novalidate>
    <div class="persondetails" *ngIf="insuranceDetails">
<h3>Insurance Details</h3>
<hr>
<div class="form-group">
<label>Insurance Type : </label>
    <input type="text" class="form-control" name="insuranceType" [(ngModel)]="insuranceDetails.insuranceType" #insuranceType="ngModel" readonly> 
</div>
<div class="form-group">
        <label>Insurance Category	 :</label>	
         <input type="text" class="form-control" name="insuranceCategory" [(ngModel)]="insuranceDetails.insuranceCategory" #insuranceCategory="ngModel" readonly> 
</div>
<div class="form-group">
<!-- <label>Insurance Id	 :</label> -->
     <input type="hidden" class="form-control" name="insuranceId" [(ngModel)]="insuranceDetails.insuranceId" #insuranceId="ngModel">
</div>
<div class="form-group">
<label>Coverage Period in month	 :  </label>
     <input type="text" class="form-control" name="coveragePeriod" [(ngModel)]="insuranceDetails.coveragePeriod" pattern= "(0\.((0[1-9]{1})|([1-9]{1}([0-9]{1})?)))|(([1-9]+[0-9]*)(\.([0-9]{1,2}))?)" maxlength="2" required #coverage="ngModel">
     <div style="color:red" 
     *ngIf="coverage.errors && (coverage.dirty || editForm.submitted)">
     <small *ngIf="coverage.errors.required"> The Coverage Period  is required </small>
     <small *ngIf="coverage.errors.pattern">Coverage Period should be a number and greater then 0 </small>
     
 </div>
    </div>
<div class="form-group">		
<label>Amount :</label>
     <input type="text" class="form-control" name="amount" [(ngModel)]="insuranceDetails.amount"pattern= "(0\.((0[1-9]{1})|([1-9]{1}([0-9]{1})?)))|(([1-9]+[0-9]*)(\.([0-9]{1,2}))?)" required #amount1="ngModel">

     <div style="color:red"  *ngIf="amount1.errors && (amount1.dirty || editForm.submitted)">
            <small *ngIf="amount1.errors.required"> The amount  is required </small>
            <small *ngIf="amount1.errors.pattern">amount should be a number and greater then 0 </small>
            
        </div>
    </div>

<div>
<button class='btn' type="submit">Update Details</button>
</div>
</div>
</form>
