<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h4 style="color:red">
                    ERR_CONNECTION_REFUSED</h4>
                <div class="error-details">
                    Sorry, API server not started, please start it.
                </div>
                <div class="error-actions">
                    <a  [routerLink]= "['/homePage']" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>  