table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    
  }
  .size{
    padding-bottom: 50px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .fade-scale {
    padding-top: 120px;    
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
  
  }
  
  .fade-scale.in {
    opacity: 1;
    transform: scale(1);
  }