<app-dashboard></app-dashboard>
<div id="dashboard">
  <div class="main-content">
      <div class="size">

          <h2>Change Password</h2>
          <hr>
          <form #form="ngForm" (ngSubmit)= "form.valid &&  updatePassword(form)" name="form" novalidate>
           <div > <label style="color:red"> {{message}}</label></div>
            <div class="form-group">
              <label for="pwd">Old Password:</label>
              <input type="password" class="form-control"  placeholder="Old Password" name="oldPassword" [(ngModel)]="oldPassword">
            </div>
            <div class="form-group">
                <label for="pwd">New Password:</label>
                <input type="password" class="form-control"  placeholder="New Password" name="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel required #password="ngModel">
                <div style="color:red" *ngIf="password.errors && (password.dirty || form.submitted)">
                <small *ngIf="password.errors.required"> The Password is required </small>
                <small *ngIf="password.errors.pattern">Must contain at least one number and one uppercase and lowercase letter,and at least 8 or more characters</small>

            </div>
             
              </div>
              <div class="form-group">
                  <label for="pwd">Confirm Password:</label>
                  <input type="password" class="form-control" id="password1" data-toggle="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword">
                </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

    </div>
    </div>